.number-input{border:0;display:inline-flex}.number-input button{height:48px;width:48px;margin-right:8px}.number-input input{height:42px;width:48px;font-size:16px;margin-right:8px;text-align:center}

.room p{color:#000}

h1{color:#020080}body{text-align:center;margin:auto}

